    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <h2 class="text-center header-theme-color">Who We Are</h2>
              <br/>
                <p class="about-p">IfyGem is an Educational Institution established for the purpose of carrying out educational services, like coaching and counseling teenagers and young adults, and empowering them with necessary skills to help them strive in their academics and career. We are located in the heart of Ikeja, Lagos State. Our facility is fully furnished and very conducive for learning, and we have competitive staff willing to cater to customer needs.
                </p><br>
                <p class="about-p">
                IfyGem also has competent Information Technology professionals to provide computer training to company staff, and develop and design web portals for educational establishments when required.
                With the aspiration to be a full-fledged Service Provider, in the medium to long term, the short term goal is to establish itself as a leading player in Nigeria.
                </p><br>
                <p class="about-p">The overall strategy of IfyGem will be to deploy our services to meet the need of our numerous clients providing a ladder to a world class standard. To achieve this, IfyGem Educational Services will develop and sustain a passion for excellence in customer service by:
                doing ordinary things exceptionally, offering quality products and specialized education product and services, delivery on what is promised in a timely and efficient manner, at a level of quality that surpasses clients expectations, and displaying absolute trust and integrity in our clients dealings.
                </p>
                <p class="about-p"></p>
                <br/>
                <br/>
              </div>
        </div>
    </section>
