
<section id="home" style="">
 <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="../img/logo.png" style="margin-top:-1em;margin-right:.5em;display:inline:block;"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="first-slide img-response" style="background-image:url('../img/grad3.jpg');"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>Study Abroad</h1>
              <p>Tap into scholarship opportunities offered by institutions abroad.</p>
            </div>
          </div>
        </div>
        <div class="item">
            <div class="second-slide img-response" style="background-image:url('../img/grad2.jpg');"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>Undergraduate & Post Graduate Programmes</h1>
              <p>Wide range of courses for undergraduate and post graduate admissions.</p>
            </div>
          </div>
        </div>
        <div class="item">
        <div class="third-slide img-response" style="background-image:url('../img/youth.jpg');"></div>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Quality education is the best gift you can give your kids, enroll them today!</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->
    <div class="marquee">
        <h4 class="well well-sm" style="margin-bottom:10px;border-radius:5px;">Scholarship Opportunities to schools in the USA and Canada... For consultation in SAT, SAT II, TOEFL, IELTS, GRE, GMAT, PTE Academic, A Level and AS Level, Contact Us Today!</h4>
      </div>


	<!-- /.intro-header -->
</section>
