<style type="text/css">
    .btn-default, .btn-default:focus, .btn-default:active, .btn-default:hover{
    color: #fff;
    background-color: RGBA(19, 24, 61,.9);
    border-color: #ccc;
}
    
</style>
<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="clearfix"></div>
                        <!--<div class="row">
                            <h2 class="section-heading text-center header-theme-color">{{ post.title }}</h2>
                            <hr>
                            <br>
                            <div class="col-md-4">
                                <div class="col-md-4">
                                     <img class="img-responsive" src="img/services/edit.png">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="header-theme-color">Coaching and Counselling Services:</h4>
                                    <ul class="ul-style">
                                        <li>SAT I / SAT II </li>
                                        <li>TOEFL / IELTS </li>
                                        <li>GRE / GMAT </li>
                                        <li> PTE Academic </li>
                                        <li>JAMB and Post JAMB</li>
                                        <li>SSCE, GCE and NECO</li>
                                        <li>A level and AS level</li>
                                    </ul>
                                </div>
                            </div><div class="col-md-4">
                                <div class="col-md-4">
                                     <img class="img-responsive" src="img/services/certificate.png">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="header-theme-color">Additional Services:</h4>
                                    <ul class="ul-style">
                                        <li>VISA Application</li>
                                        <li>VISA Counselling</li>
                                        <li>Scholarship Opportunities</li>
                                        <li>Admission Processing</li>
                                    </ul>
                                </div>
                            </div><div class="col-md-4">
                                <div class="col-md-4">
                                     <img class="img-responsive" src="img/services/computer.png">
                                </div>
                                <div class="col-md-8">
                                    <h4 class="header-theme-color">Consultation Services:</h4>
                                    <ul class="ul-style">
                                        <li>Capacity Building</li>
                                        <li>School Web Portal</li>
                                        <li>Computer Training</li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                    
                    <!--<h2 class="section-heading"style="color:#4051A2;">{{ post.title }}</h2>

                    <div class="lead">{{ post.content }}</div>-->
                </div>
                <!--<div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>-->
            </div>
            <div class="row header-color" style="margin-bottom:1.2em;">
                <h2 class="text-center">What We Do</h2>
                <hr style="width:10%;">
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-book"></i> Scholarship Opportunities</h4>
                    <p>
                    SAT is widely accepted by schools abroad, and is one of the requirements for most higher institutions. We have affiliations with schools abroad that offers scholarship opportunites you can take advatage of.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-edit"></i> Standardized English Language</h4>
                    <p>
                    Test of English as a Foreign Language (TOEFL), and Int'l English Language Testing System (IELTS) are standardized test to measure the English language ability of candidates to enroll in English-speaking universities.

                    </p>
                </div>
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-education"></i> Graduate and Masters Programmes</h4>
                    <p>
                    The Graduate Record Examination (GRE) and The Graduate Management Admission Test (GMAT) are standardized test that is an admissions requirement for post graduate schools abroad.
                    </p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-ok-sign"></i> Admission Proccessing</h4>
                    <p>
                    We assist you get admission into universities abroad, and also help you get a scholarship to secure your place in universities that are offering scholarship opportunies you can tap into. 
                    </p>
                </div>
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-certificate"></i> VISA Application and Counselling</h4>
                    <p>
                    We help you take away the stress of having to process your visa application, and gathering the necessary requirements that will facilitate your visa processing, to getting your visa.
                    </p>
                </div>
                <div class="col-md-4">
                    <h4><i class="glyphicon glyphicon-blackboard"></i> Information Technology</h4>
                    <p>
                    Get professional information technology experts today to help you set up your school web portal, to aid the learning process. Also get the best computer training for your company staff today.
                    </p>
                </div>
            </div>
           <!-- <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3><i class="glyphicon glyphicon-book"></i> Courses</h3>
                        </div>
                        <div class="panel-body" >
                            <ul class="ul-style">
                                <li>SAT I and SAT II </li>
                                <li>Test Of English as Foreign Language (TOEFL)</li>
                                <li>Int'l English Language Testing System (IELTS)</li>
                                <li>Graduate Record Examination (GRE)</li>
                                <li>Graduate Management Admission Test (GMAT)</li>
                                <!--<li> PTE Academic </li>
                                <li>JAMB and Post JAMB</li>
                                <li>SSCE, GCE and NECO</li>-
                                <li>A level and AS level</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" style="height:;">
                        <div class="panel-heading">
                            <h3><i class="glyphicon glyphicon-certificate"></i> Counseling Services</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="ul-style">
                                <li>VISA Application</li>
                                <li>VISA Counselling</li>
                                <li>Scholarship Opportunities</li>
                                <li>Admission Processing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default" style="height:;">
                        <div class="panel-heading">
                            <h3><i class="glyphicon glyphicon-briefcase"></i> Consultation</h3>
                        </div>
                        <div class="panel-body">
                             <ul class="ul-style">
                                <li>Capacity Building</li>
                                <li>School Web Portal</li>
                                <li>Computer Training</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>-->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <!--<hr class="section-heading-spacer">-->
                    <div class="clearfix"></div>
                    <h2 class="section-heading header-theme-color">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
